* {
    font-family: "Montserrat", serif;
}

body {
    position: relative;
    background-color: #039AA6;
}

/* START HEADER */
header {
    background-color: #039AA6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 2;
}

header img {
    width: 165px;
}

/* END HEADER */

/* START NAVBAR */
nav {
    background-color: #2AD571;
    position: relative;
    width: 100%;
    padding: 35px 15px 15px 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;
    bottom: 20px;
}

nav .menu {
    display: flex;
}

nav .menu li {
    list-style: none;
    padding-left: 155px;
}

nav .menu li a {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    transition: transform 0.6s ease-in-out;
}

nav .menu li a:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/* END NAVBAR */

/* START SECTION 1 */
.section-one {
    position: relative;
    margin-top: -35px;
    z-index: 0;
}

.section-one .item .itens img {
    width: 255px;
}

/* END SECTION 1 */

/* START SECTION 2 */
.section-two {
    padding: 30px 160px;
    border-top: 5px solid #2AD571;
    border-bottom: 5px solid #2AD571;
    background: rgb(42, 213, 113);
    background: linear-gradient(90deg, rgba(42, 213, 113, 1) 0%, rgba(13, 169, 153, 1) 28%, rgba(3, 154, 166, 1) 73%, rgba(42, 213, 113, 1) 100%);
}

.section-two .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-two .content .left {
    width: 700px;
}

.section-two .content .left h1 {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
}

.btn-light {
    display: inline-block;
    padding: 10px 40px;
    background-color: #fff;
    font-size: 24px;
    color: #039AA6;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 20px;
    transition: transform 0.6s ease-in-out;
}

.btn-light:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/* END SECTION 2*/

/* START SECTION 3 */
.section-three {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-three .left {
    background: rgb(42, 213, 113);
    background: linear-gradient(90deg, rgba(42, 213, 113, 1) 0%, rgba(3, 154, 166, 1) 46%, rgba(3, 154, 166, 1) 62%);
    padding: 60px 160px 60px 160px;
    border-bottom: 5px solid #fff;
    border-radius: 0px 30px 30px 0px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
}

.section-three .left h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}

.section-three .right {
    background-color: #2AD571;
    border-radius: 30px;
    margin-right: 160px;
    padding: 0px 60px;
    height: 200px;
}

.section-three .right img {
    width: 380px;
    position: relative;
    bottom: 30px;
}

/* END SECTION 3 */

/* START SECTION 4 */
.section-four {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-four .left {
    background-color: #2AD571;
    border-radius: 30px;
    margin-left: 160px;
    padding: 0px 60px;
    height: 200px;
}

.section-four .left img {
    width: 380px;
    position: relative;
    bottom: 30px;
}

.section-four .right {
    background: rgb(3, 154, 166);
    background: linear-gradient(90deg, rgba(3, 154, 166, 1) 0%, rgba(3, 154, 166, 1) 51%, rgba(42, 213, 113, 1) 100%);
    padding: 60px 230px 60px 70px;
    border-bottom: 5px solid #fff;
    border-radius: 30px 0px 0px 30px;
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
}

.section-four .right h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}

/* END SECTION 4 */

/* START SECTION 5 */
.section-five {
    display: flex;
    padding: 60px 160px;
    align-items: center;
}

.section-five .left img {
    border-radius: 30px;
}

.section-five .right {
    padding-left: 60px;
    padding-right: 60px;
}

.section-five .right h3 {
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.section-five .right p {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

/* END SECTION 5 */

/* START SECTION 6 */
.section-six {
    background: rgb(3, 154, 166);
    background: linear-gradient(90deg, rgba(3, 154, 166, 1) 0%, rgba(42, 213, 113, 1) 31%, rgba(42, 213, 113, 1) 71%, rgba(3, 154, 166, 1) 100%);
    padding: 60px;
    text-align: center;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.section-six img {
    width: 60px;
    margin: 0 auto;
}

.section-six h3 {
    font-size: 48px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 40px;
}

.section-six .btn {
    display: inline-block;
    background-color: #039AA6;
    padding: 10px 70px;
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    border-radius: 40px;
    transition: transform 0.6s ease-in-out;
}

.section-six .btn:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/* END SECTION 6 */

/* START FOOTER */
footer {
    margin-top: 40px;
    background: #039AA6;
    border-top: 5px solid #2AD571;
    border-bottom: 5px solid #2AD571;
    padding: 40px 0px;
}

footer .footer-holder {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 40px 180px;
}

footer .item {
    display: flex;
    justify-content: space-between;

}

footer .item .itens h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

footer .item .itens li {
    list-style: none;
}

footer .item .itens li a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.6s;
}

footer .item .itens li a:hover {
    opacity: 0.4;
}

footer .item .itens .socials {
    display: flex;
    align-items: center;
}

footer .item .itens .socials li {
    padding-right: 23px;
}

footer .item .itens .socials li:last-child {
    padding-right: unset;
}

footer .item .itens .socials img {
    width: 40px;
}

footer .item .itens .socials a {
    transition: all 0.6s;
}

footer .item .itens .socials a:hover {
    opacity: 0.4;
}

footer .politics {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

footer .politics ul {
    display: flex;
    justify-content: space-around;
}

footer .politics ul li {
    color: #fff;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    padding-right: 90px;
}

footer .politics ul li:last-child {
    padding-right: 45px;
}

footer .politics ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.6s;
}

footer .politics ul li a:hover {
    opacity: 0.6;
}

/* END FOOTER */


















/* START RESPONSIVE  */
@media screen and (max-width: 1459px) {}

@media screen and (max-width: 1000px) {}

/* END RESPONSIVE  */