* {
    font-family: "Montserrat", serif;
}

body {
    position: relative;
}

body.page {
    background-color: #fff;
}

/* START HEADER */
header {
    background-color: #039AA6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 2;
}

header img {
    width: 150px;
}

/* END HEADER */

/* START NAVBAR */
nav {
    background-color: #2AD571;
    position: relative;
    width: 100%;
    padding: 30px 15px 10px 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;
    bottom: 20px;
}

nav .menu {
    display: flex;
    justify-content: space-around;
}

nav .menu li {
    list-style: none;
}

nav .menu li a {
    display: inline-block;
    color: #fff;
    /* font-size: 20px; */
    font-weight: 700;
    font-size: clamp(1.3rem, 1vw, 2.6rem);
    transition: transform 0.6s ease-in-out;
}

nav .menu li a:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/* END NAVBAR */

/* START SECTION 1 */
.section-one {
    position: relative;
    margin-top: -35px;
    z-index: 0;
}

.section-one .item .itens img {
    width: 255px;
}

/* END SECTION 1 */

/* START SECTION 2 */
.section-two {
    padding: 10px 160px;
    border-top: 5px solid #2AD571;
    border-bottom: 5px solid #2AD571;
    background: rgb(42, 213, 113);
    background: linear-gradient(90deg, rgba(42, 213, 113, 1) 0%, rgba(13, 169, 153, 1) 28%, rgba(3, 154, 166, 1) 73%, rgba(42, 213, 113, 1) 100%);
}

.section-two .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-two .content .left {
    width: 700px;
}

.section-two .content .left h1 {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
}

.btn-light {
    display: inline-block;
    padding: 10px 40px;
    background-color: #fff;
    font-size: 24px;
    color: #039AA6;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 20px;
    transition: transform 0.6s ease-in-out;
}

.btn-light:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/* END SECTION 2*/

/* START SECTION 3 */
.section-three {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-three .left {
    background: rgb(42, 213, 113);
    background: linear-gradient(90deg, rgba(42, 213, 113, 1) 0%, rgba(3, 154, 166, 1) 46%, rgba(3, 154, 166, 1) 62%);
    padding: 60px 160px 60px 160px;
    border-bottom: 5px solid #fff;
    border-radius: 0px 30px 30px 0px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
}

.section-three .left h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}

.section-three .right {
    background-color: #2AD571;
    border-radius: 30px;
    margin-right: 160px;
    padding: 0px 60px;
    height: 200px;
}

.section-three .right img {
    width: 380px;
    position: relative;
    bottom: 30px;
}

/* END SECTION 3 */

/* START SECTION 4 */
.section-four {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-four .left {
    background-color: #2AD571;
    border-radius: 30px;
    margin-left: 160px;
    padding: 0px 60px;
    height: 200px;
}

.section-four .left img {
    width: 380px;
    position: relative;
    bottom: 30px;
}

.section-four .right {
    background: rgb(3, 154, 166);
    background: linear-gradient(90deg, rgba(3, 154, 166, 1) 0%, rgba(3, 154, 166, 1) 51%, rgba(42, 213, 113, 1) 100%);
    padding: 60px 230px 60px 70px;
    border-bottom: 5px solid #fff;
    border-radius: 30px 0px 0px 30px;
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
}

.section-four .right h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}

/* END SECTION 4 */

/* START SECTION 5 */
.section-five {
    display: flex;
    padding: 60px 160px;
    align-items: center;
}

.section-five .left img {
    border-radius: 30px;
}

.section-five .right {
    padding-left: 60px;
    padding-right: 60px;
}

.section-five .right h3 {
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.section-five .right p {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

/* END SECTION 5 */

/* START SECTION 6 */
.section-six {
    position: relative;
    background-color: #039AA6;
    padding-bottom: 45px;
    z-index: 2;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.section-six .content {
    background: rgb(3, 154, 166);
    background: linear-gradient(90deg, rgba(3, 154, 166, 1) 0%, rgba(42, 213, 113, 1) 31%, rgba(42, 213, 113, 1) 71%, rgba(3, 154, 166, 1) 100%);
    padding: 60px;
    text-align: center;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.section-six img {
    width: 60px;
    margin: 0 auto;
}

.section-six h3 {
    font-size: 48px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 40px;
}

.section-six .btn {
    display: inline-block;
    background-color: #039AA6;
    padding: 10px 70px;
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    border-radius: 40px;
    transition: transform 0.6s ease-in-out;
}

.section-six .btn:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/* END SECTION 6 */

/* START SECTION 7 */
.section-seven {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    z-index: 1;
    position: relative;
    margin-top: -40px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-seven .shadow {
    height: 100vh;
    width: 100%;
    background-color: #00000054;
    position: relative;
    z-index: 2;
}

.section-seven .shadow .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.section-seven .shadow .content img {
    width: 250px;
    margin-bottom: 30px;
}

.section-seven .shadow .content h3 {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
}

/* END SECTION 7 */

/* START FOOTER */
footer {
    background: #039AA6;
    border-top: 5px solid #2AD571;
    border-bottom: 5px solid #2AD571;
    padding: 40px 0px;
}

footer .footer-holder {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 40px 180px;
}

footer .item {
    display: flex;
    justify-content: space-between;

}

footer .item .itens h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

footer .item .itens li {
    list-style: none;
}

footer .item .itens li a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.6s;
}

footer .item .itens li a:hover {
    opacity: 0.4;
}

footer .item .itens .socials {
    display: flex;
    align-items: center;
}

footer .item .itens .socials li {
    padding-right: 23px;
}

footer .item .itens .socials li:last-child {
    padding-right: unset;
}

footer .item .itens .socials img {
    width: 40px;
}

footer .item .itens .socials a {
    transition: all 0.6s;
}

footer .item .itens .socials a:hover {
    opacity: 0.4;
}

footer .politics {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

footer .politics ul {
    display: flex;
    justify-content: space-around;
}

footer .politics ul li {
    color: #fff;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    padding-right: 90px;
}

footer .politics ul li:last-child {
    padding-right: 45px;
}

footer .politics ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.6s;
}

footer .politics ul li a:hover {
    opacity: 0.6;
}

/* END FOOTER */

/* CUSTOM WP */
body.home {
    background-color: #039AA6;
}

/* END CUSTOM WP */

/* START RESPONSIVE  */
@media screen and (max-width: 1400px) {
    .section-three .left {
        padding: 50px 100px 50px 160px;
    }

    .section-three .left h2 {
        font-size: 30px;
    }

    .section-four .right {
        padding: 50px 250px 50px 100px;
    }

    .section-four .left {
        margin-left: 60px;
    }

    .section-four .right h2 {
        font-size: 30px;
    }

    .btn-light {
        text-align: center;
    }

    .section-five {
        padding: 60px;
    }
}

@media screen and (min-width: 1000px) {

    /* ANIMATION */
    .hiddenLeft {
        opacity: 0;
        filter: blur(15px);
        transform: translateX(-100%);
        transition: all 0.6s;
    }

    .showLeft {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
        transition: all 0.6s;
    }


    .hiddenRight {
        opacity: 0;
        filter: blur(15px);
        transform: translateX(100%);
        transition: all 1s;
    }

    .showRight {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
        transition: all 1s;
    }

    .hiddenBlur {
        opacity: 0;
        filter: blur(15px);
        transition: all 1s;
    }

    .showBlur {
        opacity: 1;
        filter: blur(0);
        transition: all 1s;
    }

    /* END ANIMATION */
}

@media screen and (max-width: 1000px) {
    header img {
        width: 110px;
    }

    nav .menu {
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
    }

    nav {
        top: -170px;
        transition: all 0.8s;
    }

    .header-nav.exibir nav {
        top: -20px;
    }

    nav .mostrar .menu {
        opacity: 1;
        visibility: visible;
    }

    nav .menu li:first-child {
        padding-top: 10px;
    }

    nav .menu li a {
        font-size: 16px;
        padding-bottom: 10px;
    }

    header button.menu-mb span {
        background-color: #fff;
        position: absolute;
        border-radius: 5px;
        height: 3px;
        transition: all 0.3s;
    }

    header button.menu-mb {
        display: flex;
        background-color: transparent;
        width: 20px;
        height: 20px;
        right: 25px;
        position: absolute;
    }

    header button.menu-mb span.um {
        position: absolute;
        width: 25px;
    }

    header button.menu-mb span.dois {
        position: absolute;
        width: 30px;
        top: 10px;
    }

    nav {
        padding: 30px 15px 5px 15px;
    }

    nav .mostrar #menu {
        display: flex !important;
    }

    .header-nav button.menu-mb.ativo span.um {
        width: 30px;
        top: 9px;
        right: -5px;
        transform: rotate(45deg);
    }

    .header-nav button.menu-mb.ativo span.dois {
        width: 30px;
        bottom: 9px;
        right: -5px;
        transform: rotate(-45deg);
    }

    .section-one {
        margin-top: -185px;
    }

    .section-two {
        padding: 10px 15px;
    }

    .section-two .content {
        flex-direction: column;
    }

    .section-two .content .left {
        width: unset;
        text-align: center;
    }

    .section-two .content .left h1 {
        font-size: 20px;
    }

    .btn-light {
        padding: 10px 20px;
        font-size: 16px;
    }

    .section-three {
        flex-direction: column;
        align-items: unset;
        padding-top: 30px;
    }
    
    .section-three .left {
        padding: 30px 15px 30px 30px;
        margin-right: 135px;
        
    }

    .section-three .left h2 {
        font-size: 20px;
    }

    .section-three .right {
        margin-left: 80px;
        margin-right: 0px;
        margin-top: 40px;
        height: 125px;
        padding: 0px 30px;
        text-align: center;
    }

    .section-three .right img {
        width: 250px;
        bottom: 25px;
    }

    .section-four {
        flex-direction: column;
        align-items: unset;
        padding-top: 30px;
    }

    .section-four .left {
        margin-left: 0px;
        margin-right: 80px;
        margin-top: 40px;
        height: 125px;
        padding: 0px 30px;
        text-align: center;
    }

    .section-four .left img {
        width: 250px;
        bottom: 25px;
    }

    .section-four .right {
        padding: 30px 15px 30px 30px;
        margin-left: 135px;
        margin-top: 30px;
    }

    .section-four .right h2 {
        font-size: 20px;
    }

    .section-five {
        padding: 60px 5px;
        flex-direction: column;
        text-align: center;
    }

    .section-five .left img {
        width: 100%;
        min-width: 380px;
    }

    .section-five .right h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .section-five .right {
        padding: 0 15px;
        margin-top: 20px;
    }

    .section-five .right p {
        font-size: 16px;
    }

    .section-six .content {
        padding: 30px 15px;
    }

    .section-six h3 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .section-six .btn {
        padding: 10px 40px;
        font-size: 20px;
    }

    .section-seven {
        height: 70vh;
        background-image: url('../img/bg-parallax-mobile.jpg') !important;
    }

    .section-seven .shadow {
        height: 70vh;
    }

    .section-seven .shadow .content {
        padding: 0 15px;
        text-align: center;
        height: 75vh;
    }

    .section-seven .shadow .content img {
        width: 200px;
    }

    .section-seven .shadow .content h3 {
        font-size: 20px;
    }

    footer .footer-holder {
        padding: 40px 15px;
    }

    footer .item {
        flex-wrap: wrap;
    }

    footer .item .itens {
        margin-bottom: 30px;
    }

    footer .item .itens:last-child {
        margin: 0 auto;
    }

    footer .item .itens:nth-child(4) {
        margin-right: 35px;
    }

    footer .item .itens h3 {
        font-size: 17px;
        margin-bottom: 10px;
    }

    footer .politics {
        margin-top: 50px;
    }

    footer .politics ul {

        flex-direction: column;
    }

    footer .politics ul li {
        padding-right: 50px;
        padding-bottom: 5px;
    }
}

/* END RESPONSIVE  */