/* SECTION ONE FOOD */
body {
    background-color: #039aa6 !important;
}

.food-main section:nth-child(3) .img-product img {
    max-width: 1000px
}

.food-one,
.food-two {
    background: rgb(3, 154, 166);
    background: -moz-linear-gradient(180deg, rgba(3, 154, 166, 1) 0%, rgba(0, 95, 103, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(3, 154, 166, 1) 0%, rgba(0, 95, 103, 1) 100%);
    background: linear-gradient(180deg, rgba(3, 154, 166, 1) 0%, rgba(0, 95, 103, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#039aa6", endColorstr="#005f67", GradientType=1);
    padding: 0px 150px;
    display: flex;
    position: relative;
    gap: 120px;
    height: 100vh;
    align-items: center;
}

.food-two {
    flex-direction: row-reverse;
}

.food-main .verde {    
    background: rgb(0, 95, 103);
    background: -moz-linear-gradient(180deg, rgba(0, 95, 103, 1) 0%, rgba(42, 213, 113, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 95, 103, 1) 0%, rgba(42, 213, 113, 1) 100%);
    background: linear-gradient(180deg, rgba(0, 95, 103, 1) 0%, rgba(42, 213, 113, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005f67", endColorstr="#2ad571", GradientType=1);
}

.food-main .verde-azul {
    background: rgb(42, 213, 113);
    background: -moz-linear-gradient(180deg, rgba(42,213,113,1) 0%, rgba(3,154,166,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(42, 213, 113, 1) 0%, rgba(3, 154, 166, 1) 100%);
    background: linear-gradient(180deg, rgba(42, 213, 113, 1) 0%, rgba(3, 154, 166, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2ad571",endColorstr="#039aa6",GradientType=1);
}

.food-one .left .img-product,
.food-two .left .img-product {
    text-align: center;
}

.food-one .left .img-product img,
.food-two .left .img-product img {
    max-width: 250px;
    width: 100%;
}

.food-one .left .icons,
.food-two .left .icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 45px;
}

.food-one .left .icons .icon,
.food-two .left .icons .icon {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.food-one .left .icon .card,
.food-two .left .icon .card {
    background-color: #2AD571;
    border-radius: 10px;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon .card img {
    width: 100%;
    max-width: 50px;
}

.food-one .left .icon span,
.food-two .left .icon span {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}

.food-one .right .titles,
.food-two .right .titles {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.food-one .right .titles h2,
.food-two .right .titles h2 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
}

.food-one .right .titles p,
.food-two .right .titles p {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    max-width: 530px;
}

/* COLLAPSABLE */

.itens  .item * {
    pointer-events: none;
}

.itens .item {
    position: relative;
    align-items: flex-start;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-top: 15px;
    z-index: 3;
    transition: all 0.3s;
}

.itens .item img {
    width: 20px;
    position: absolute;
    right: 0;
    top: 5px;
    transition: all 0.3s;
}

.itens .item h3 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
}

.itens .item p:nth-last-child(2) {
    font-size: 14px;
    color: #fff;
    line-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
}

.item.ativo img {
    transform: rotate(180deg);
}

.itens .item.ativo p:nth-last-child(2) {
    line-height: 1.2;
    opacity: 1;
    visibility: visible;
    padding-bottom: 10px;
}

.itens .item .table_component {
    display: none;
    transition: all 0.6s;
}

.itens .item.ativo .table_component {
    display: inline-table;
    overflow: auto;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: center;
    margin-top: 15px;
}

.itens .item .table_component th {
    border: 1px solid #2AD571;
    background-color: #2AD571;
    color: #fff;
    padding: 2px;
}

.itens .item .table_component td {
    border: 1px solid #2AD571;
    background-color: #fff;
    color: #2AD571;
    padding: 2px;
}



@media screen and (max-width: 1000px) {
    .food-main section:first-child {

        margin-top: -130px;
    }
    .food-one {
        flex-direction: column;
        padding: 0 15px 20px 15px;
        gap: 50px;
        height: unset;
    }
    .food-one .left img {
        width: 100%;
    }
    .food-one .left .icons {
        margin-top: 10px;
    }
    .food-one .left .icons .card {
        width: 62px;
        height: 62px;
    }
    .food-one .left .icons .card img {
        width: 40px;
    } 
    .food-one .left .card span {
        font-size: 12px;
    }
    .food-one .right .titles h2 {
        font-size: 18px;
    }
    .food-one .right .titles p {
        font-size: 14px;
    }
    .itens .item h3 {
        font-size: 14px;
    }
    .itens .item p {
        font-size: 12px;
    }
    .food-two {
        padding: 80px 15px;
        flex-direction: column;
        gap: 50px;
        height: unset;
    }
    .food-two .right .icons {
        margin-top: 10px;
    }
    .food-two .right .icons .card {
        width: 62px;
        height: 62px;
    }
    .food-two .right .icons .card img {
        width: 40px;
    } 
    .food-two .right .card span {
        font-size: 12px;
    }
    .food-two .left .titles h2 {
        font-size: 18px;
    }
    .food-two .left .titles p {
        font-size: 14px;
    }
    .food-three {
        padding: 100px 15px 100px 15px;
        flex-direction: column;
        gap: 50px;
        height: unset;
    }
    .food-three .left img {
        width: 100%;
    }
    .food-three .left .icons {
        margin-top: 10px;
    }
    .food-three .left .icons .card {
        width: 62px;
        height: 62px;
    }
    .food-three .left .icons .card img {
        width: 40px;
    } 
    .food-three .left .card span {
        font-size: 12px;
    }
    .food-three .right .titles h2 {
        font-size: 18px;
    }
    .food-three .right .titles p {
        font-size: 14px;
    }
}